Python and pip versions:
python==3.9
pip==23.3.1

In addition to installing requirements.txt, EternaFold package can be installed with conda.
The instructions are given here: https://bioconda.github.io/
At the time of the competition, the instructions were to run the following commands:
conda config --add channels defaults
conda config --add channels bioconda
conda config --add channels conda-forge
conda config --set channel_priority strict

After this, the eterna-installing command could be used:
conda install -c bioconda eternafold --yes

This notebook mentions the necessary environment variables:
https://www.kaggle.com/code/brainbowrna/rna-science-computational-environment

In my case, conda did not set these variables correctly, and I had to manually change them in appropriate files.
(I used grep to find where these variables are located and changed those files accordingly.)

###########################################
This solution was run on a system with 20 CPUs, 128 GB of RAM memory, one GPU (GPU with 10 GB of memory).
It is possible to run this solution for the submission_number==27 (no BPPs) with 64 GB of memory (RAM).

Processor: 12th Gen Intel® Core™ i7-12700KF × 20
Graphics: NVIDIA Corporation GA102 [GeForce RTX 3080 Lite Hash Rate]
